<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Keyword Analyzer Tool
      </h1>
      <hr>
      <div class="form-group">
        <label>Enter Url </label>
        <input type="text" class="form-control" name="url" [(ngModel)]="model.url" placeholder="http://www.example.com">
      </div>
      <label>Chosse Keyword:</label>
      <div class="checkbox">

        <label>
          <input type="checkbox" name="Mobile" [(ngModel)]="model.Mobile" value="Mobile"> Mobile</label> 
        <label>
          <input type="checkbox" name="Laptop" [(ngModel)]="model.Laptop" value="Laptop"> Laptop</label>
        <label>
          <input type="checkbox" name="TV" [(ngModel)]="model.TV" value="TV"> TV</label>
      </div>
      <button class="btn btn-primary" (click)="httpGet(model.url)">Analyse</button>
      <hr>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th></th>
              <th>H1</th>
              <th>H2</th>
              <th>Meta</th>
              <th>Others</th>
              <th>Overall</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mobile - {{data.laptopCount.density}}</td>
              <td>{{data.mobileCount.h1}}</td>
              <td>{{data.mobileCount.h2}}</td>
              <td>{{data.mobileCount.meta}}</td>
              <td>{{data.mobileCount.others}}</td>
              <td>{{data.mobileCount.overall}}</td>
            </tr>
            <tr>
              <td>Laptop - {{data.laptopCount.density}}</td>
              <td>{{data.laptopCount.h1}}</td>
              <td>{{data.laptopCount.h2}}</td>
              <td>{{data.laptopCount.meta}}</td>
              <td>{{data.laptopCount.others}}</td>
              <td>{{data.laptopCount.overall}}</td>
            </tr>
            <tr>
              <td>TV - {{data.tvCount.density}}</td>
              <td>{{data.tvCount.h1}}</td>
              <td>{{data.tvCount.h2}}</td>
              <td>{{data.tvCount.meta}}</td>
              <td>{{data.tvCount.others}}</td>
              <td>{{data.tvCount.overall}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>